.main-content {
    flex-grow: 1; /* Permite que el contenido principal ocupe el resto del espacio */
    background-image: url(./Images/deffaultBG.png);
    transition: all 0.5s;
    padding: 20px;
    overflow: auto;
    overflow-x: auto;
    z-index: 1;
    margin-left: 25%;
}

.main-content h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: darkred;
}

.mission p, .vision p, .ubication p {
    margin-bottom: 0;
}

.mission, .vision, .ubication {
    background-color: white;
    padding: 20px;
    margin: 20px;
    font-size: 15px;
    border-radius: 10px;
    line-height: 1.5;
    text-align: justify;
    border: 5px solid darkred;
    cursor: default;
}

.vision-ubication {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.vision {
    margin-left: 0;
}

/* Se asegura de que ambas secciones tengan un tamaño proporcional */
.vision,
.ubication {
    flex: 1; /* Hace que ocupen el mismo ancho */
    min-width: 300px; /* Evita que se vuelvan demasiado pequeños */
}

.ubication p {
    margin-bottom: 0;
    font-size: 12px;
}

/* Estilos para la imagen del mapa */
.map {
    width: 100%; /* Ajustar el mapa al contenedor */
    max-height: 175px;
    object-fit: cover;
    border-radius: 10px; 
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
}

/* Asegurar que el icono de ubicación no rompa el diseño */
.location {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Para que se alinee con el texto */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}


/* Ajustes responsivos */
@media (max-width: 1480px) { /* Cuando el ancho de la pantalla sea menor que 1480px */
    .sidebar-menu {
        width: 370px; /* Fija el ancho de la barra lateral a su mínimo */
        overflow: auto;
    }

    .main-content {
        margin-left: 370px; /* Ajusta el margen izquierdo al ancho fijo de la barra lateral */
    }
}

@media (max-width: 800px) { /* Para pantallas muy pequeñas */
    .sidebar-menu {
        width: 100%;
        min-width: 100%;
        overflow: auto;
    }

    .main-content {
        margin-left: 0; /* Elimina el margen izquierdo */
        padding-left: 20px; /* Añade un padding para que el contenido no quede pegado al borde */
    }
}