h1 {
    color: darkred;
    padding: 0.2em;
    background-color: white;
    border: 3px solid darkred;
    font-size: 25px;
    border-radius: 3em;
    text-align: center;
}

form {
    background-color: white;
    border: 3px solid darkred;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    color: darkred;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: -1.2%;
}

input {
    background-color: white;
    border: 3px solid darkred;
    border-radius: 0.5em;
    height: 2em;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 0.5em;
    height: 3em;
    cursor: pointer;
}

.modify-buttons {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
}